/* Player.css */

.audio-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2d2a4a;
  color: white;
  max-height: 100%;
  overflow-y: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.pic img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.songInfo {
  text-align: center;
  margin-top: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.artist {
  font-size: 14px;
  color: #aaa;
}

.controls {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.play-pause {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

input[type='range'] {
  /* flex-grow: 1; */
  /* margin: 0 10px; */
  width: 300px;
}

.time {
  font-size: 12px;
}
.volume-control {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.initialContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: white;
}