/* src/components/specific/Home.module.css */
.container {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    background-color: #666;
    display: flex;
    flex-direction: column;
  }


  .tiles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
  }
  .content {
    font-size: 1.2em;
    color: #666;
  }
  