/* src/components/specific/Home.module.css */
.container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
  }
  .leftSide, .rightSide {
    
  }
  .leftSide {
    background-color: #666;
  }
  .rightSide {
    background-color: #999;
  }
  .title {
    font-size: 2em;
    color: #333;
  }
  
  .content {
    font-size: 1.2em;
    color: #666;
  }
  