.drop-down {
    list-style: none;
    color: black;
  }
  
  .drop-down li {
    padding: 10px 0px;
    border-bottom: 1px solid #cccccc;
    width: 100px;
    text-align: center;
    background: #fbf6f6;
  }